[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"
djangorestframework = "*"
django-google-maps = "*"
python-google-places = "*"
psycopg2 = "*"
dj-database-url = "*"
whitenoise = "*"
certifi = "*"
chardet = "*"
gunicorn = "*"
idna = "*"
pytz = "*"
yelpapi = "*"
virtualenv = "*"
virtualenvwrapper = "*"
djangorestframework-gis = "*"
map = "*"

[requires]
python_version = "3.7"
